<div class="hamana">
  <ul class="blocks">
    <li class="right">
      <mat-card style="width: 400px">
        <mat-card-content>
          <nav>
            <table mat-table [dataSource]="datosUsuario | async" style="width: 100%">
              <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef> Usuario</th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.Nickname}} </td>
              </ng-container>

              <ng-container matColumnDef="tarjeta">
                <th mat-header-cell *matHeaderCellDef> Tarjeta</th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.Tarjeta}} </td>
              </ng-container>

              <ng-container matColumnDef="fondos">
                <th mat-header-cell *matHeaderCellDef> Fondos</th>
                <td mat-cell *matCellDef="let usuario"> {{usuario.Fondos}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let usuario; columns: displayedColumns;"></tr>
            </table>
          </nav>

          <form [formGroup]="cocoinsForm" (ngSubmit)="addCocoins()">
            <mat-form-field>
              <mat-label>Fondos</mat-label>
              <input matInput type="number" min="1" max="100000" formControlName="fondos">
              <mat-error *ngIf="cocoinsForm.get('fondos')?.errors?.required">Este campo es requerido</mat-error>
              <mat-error *ngIf="cocoinsForm.get('fondos')?.errors?.min">El minimo requerido es 1</mat-error>
              <mat-error *ngIf="cocoinsForm.get('fondos')?.errors?.max">No puedes ingresar tanto dinero</mat-error>
            </mat-form-field>
            <br>
            <button mat-button type="submit">Agregar Cocoins</button>
          </form>

        </mat-card-content>
      </mat-card>
    </li>
  </ul>
</div>
