<form>
    <div style="display:inline-flex;">
  <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item> USUARIO </mat-list-item>
          <mat-list-item> NUMERO DE CUENTA </mat-list-item>
          <mat-list-item> XXXX XXXX XXXX XXXX </mat-list-item>
        </mat-list>
      
            <div style= margin-right:30px;float:left><p>Tu saldo es:  </p></div>
            <div style=float:right;><textarea disabled></textarea></div>
        
      </mat-card-content>
  </mat-card>
      <mat-card>
          <mat-card-content>
          <div style=float:left;>
          <button type="submit" id="add-button">Agregar Cococoins</button>
        </div>
        </mat-card-content>
      </mat-card>
</div>
</form>