<div class="background">
  <div class="container">
    <br><br><br><br>
    <br>
    <div class="text-c">
      <h1 class="monserrat">Bancoco</h1>
      <h2 class="monserrat">¿Qué es Bancoco?</h2>
      <p>Bancoco es la plataforma que nos permite meternos dinero a lo baboso en nuestras cuentas correspondientes
        para comprar cosas dentro de la plataforma de 'The Cocollector'. Al ser esta la V2 recargada, ahora viene
        con todo para que coco no nos pegue.</p>
      <br>
      <h2 class="monserrat">¿Nuestra misión?</h2>
      <p>Realmente solo no reprobar la materia, pero hablando de la plataforma pues meternos money y ver las
        transacciones que pasaron y las que no. </p>
    </div>
  </div>
</div>
